<!-- Making the footer -->
<footer>
  <table class="tableFooter">
      <tr>
          <td class="tdFooter"></td>
          <td class="tdFooter"></td>
          <td class="tdFooter"><a href="/home">Home</a></td>
          <td class="tdFooter"><a href="/about">About</a></td>
          <td class="tdFooter"></td>
          <td class="tdFooter"></td>
      </tr>
      <tr>
          <td class="tdFooter"></td>
          <td class="tdFooter"></td>
          <td class="tdFooter"><a href="/my_library">My Library</a></td>
          <td class="tdFooter"><a href="/contact_us">Contact Us</a></td>
          <td class="tdFooter"></td>
          <td class="tdFooter"></td>
      </tr>
      <tr>
          <td class="tdFooter"></td>
          <td class="tdFooter"></td>
          <td class="tdFooter"><a href="/active_books">Active Books</a></td>
          <td class="tdFooter"><a href="/account">Account</a></td>
          <td class="tdFooter"></td>
          <td class="tdFooter"></td>
      </tr>
      <tr>
          <td class="tdFooter"></td>
          <td class="tdFooter"></td>
          <td class="tdFooter"><a href="/book_notes">Book Notes</a></td>
          <td class="tdFooter"></td>
          <td class="tdFooter"></td>
          <td class="tdFooter"></td>
      </tr>
      <tr>
          <td class="tdFooter"></td>
          <td class="tdFooter"></td>
          <td class="tdFooter"><a href="/book_quotes">Book Quotes</a></td>
          <td class="tdFooter"></td>
          <td class="tdFooter"></td>
          <td class="tdFooter"></td>
      </tr>
      <tr>
          <td class="tdFooter"></td>
          <td class="tdFooter"></td>
          <td class="tdFooter" style="padding-top: 40px; font-size: 10px;" colspan="2"><a>@Copyright 2018 - Jacob Neterer</a></td>
          <td class="tdFooter"></td>
      </tr>
    </table>
</footer>
