<!-- Setting up "Bookshelf" header -->
<header>
    <!-- Setting up "Bookshelf" in the Header -->
    <div align="center">
        <table>
            <tr>
                <td class="bookBGL" style="width:100px"></td>
                <td>
                    <h1>Bookshelf</h1>
                </td>
                <td class="bookBGR" style="width:100px"></td>
            </tr>
        </table>
    </div>
</header>
