.asideL {
    float: left;
    width: 25%;
}

.asideR {
    float: left;
    width: 25%;
}

section {
    border-left: 3px solid dimgray;
    border-right: 3px solid dimgray;
    float: left;
    width: 49.5%;
}

h2, p {
    padding-left: 15px;
    padding-right: 15px;
}