header {
    background-color: black;
    color: white;
}

table {
    padding-top: 25px;
    padding-bottom: 25px;
}

.bookBGL {
    background: url("../../Images/booksL.png") no-repeat center center;
    background-size:100%;
}

.bookBGR {
    background: url("../../Images/booksR.png") no-repeat center center;
    background-size:100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: dimgray;
    border: 1px solid dimgray;
}

li {
    float: left;
    border: 1px solid dimgray;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: white;
    color: deepskyblue;
}

.active {
    background-color: deepskyblue;
    color: white;
}

.asideL {
    float: left;
    width: 25%;
}

.asideR {
    float: left;
    width: 25%;
}

section {
    float: left;
    width: 49.5%;
}