.table_books {
    table-layout: fixed;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.th_books {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
    background-color: rgb(150, 150, 150);
    border: 1px solid black;
    border-collapse: collapse;
    color: white;
}

.td_books {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
    border: 1px solid black;
    border-collapse: collapse;
    height: 20px;
    align-content: left;
}

.tr_books:nth-child(odd) {
    background-color: rgb(176, 226, 255);
}

.tr_books:hover {
    border: 2px solid black;
}
