<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Ensures proper rendering and touch zooming for mobile applications -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bookshelf - About</title>
        <!-- Imports master.css file -->
        <link href="../style_templates/master.css" rel="stylesheet" type="text/css">
        <!-- Keeps the program from sending an error saying it can't find module html -->
        <link rel="shortcut icon" href="">
    </head>
    <body>
        {{> header}}
        {{> navigation}}
        <div align="center" style="margin-left: 20%; margin-right: 20%;">
            <h2>My Library</h2>
            <p>My Library is a place for you to store all of the books you own!
              From that page you can edit or delete a book by selecting
              a book from the drop down menu and then click Manage Books.</p>
            <h2>Active Books</h2>
            <p>Active Books are where you can see all the books that are currently
              being lent! You can also lend out a book, edit or delete any information about
              details of a book being lent, return a book, and view your lending history
              from there.</p>
            <h2>Book Notes</h2>
            <p>Book Notes allows you to add notes about any of the books you own. Also, you
              can edit or delete any of your notes.</p>
            <h2>Book Quotes</h2>
            <p>Book Quotes gives you the ability to add quotes about any of the books you own.
              You can also edit or delete any of your quotes.</p>
        </div>
        {{> footer}}
    </body>
</html>
