<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Ensures proper rendering and touch zooming for mobile applications -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bookshelf - Contact Us</title>
        <!-- Imports active_books.css file -->
        <link href="contact_us.css" rel="stylesheet" type="text/css">
        <!-- Imports master.css file -->
        <link href="../style_templates/master.css" rel="stylesheet" type="text/css">
        <!-- Imports stylesheet for forms -->
        <link href="../style_templates/forms.css" rel="stylesheet" type="text/css">
        <!-- Keeps the program from sending an error saying it can't find module html -->
        <link rel="shortcut icon" href="">
    </head>
    <body>
        {{> header}}
        {{> navigation}}
        <!-- Making Contact Us form -->
        <table style="width: 100%;">
            <tr>
                <td></td>
                <td style="width:50%;">
                    <form>
                        <label for="subject">Subject</label><br>
                        <input type="text" id="subject" name="subject"><br>
                        <label for="message">Message</label><br>
                        <textarea id="message" name="message" rows="10" cols="100"></textarea>
                        <button type="submit" id="send_message">Send</button>
                    </form>
                </td>
                <td></td>
            </tr>
        </table>
        {{> footer}}
    </body>
</html>
