<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Ensures proper rendering and touch zooming for mobile applications -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bookshelf - My Library</title>
        <!-- Imports my_library.css file -->
        <link href="../../style_templates/my_Library.css" rel="stylesheet" type="text/css">
        <!-- Imports master.css file -->
        <link href="../style_templates/master.css" rel="stylesheet" type="text/css">
        <!-- Imports the tables style css sheet -->
        <link href="../style_templates/tables.css" rel="stylesheet" type="text/css">
        <!-- Keeps the program from sending an error saying it can't find module html -->
        <link rel="shortcut icon" href="">
    </head>
    <body>
        {{> header}}
        {{> navigation}}
        <!-- Buttons to update, add, delete, books -->
        <button type="button" class="add_button">Add Book</button>
        <!-- Table holding book data -->
        <table class="table_books">
            <tr>
                <th class="th_books">Book Title</th>
                <th class="th_books">Author's</th>
                <th class="th_books">Date Added</th>
                <th class="th_books">Status</th>
                <th class="th_books">Gifter's Name</th>
                <th class="th_books">Gifted Date</th>
            </tr>
            <tr class="tr_books">
                <td class="td_books"></td>
                <td class="td_books"></td>
                <td class="td_books"></td>
                <td class="td_books"></td>
                <td class="td_books"></td>
                <td class="td_books"></td>
            </tr>
            <tr class="tr_books">
                <td class="td_books"></td>
                <td class="td_books"></td>
                <td class="td_books"></td>
                <td class="td_books"></td>
                <td class="td_books"></td>
                <td class="td_books"></td>
            </tr>
        </table>
        {{> footer}}
    </body>
</html>
